{% extends 'foundation.html'  %}
{% load staticfiles %}
{% block title %}Analyzer!{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/screen.css' %}">
{% endblock %}
{% block container %}
{% include 'partials/nav.html' %}

<div class="container-fluid mimin-wrapper">
  <!-- Messages
  <div class="row messages">
    {% include 'partials/messages.html' %}
  </div>
  {% include "partials/profile_nav.html" %}   
   <!-- start: Content -->
    <div id="content">
       <div class="panel box-shadow-none content-header">
          <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">{% block page_title %}{% endblock %}</h3>
                {% block jumpotron %}{% endblock %}
            </div>
          </div>
        </div>
        <div class="col-md-12 top-20 padding-0">
          <div class="col-md-12">
            <div class="panel">
              <div class="panel-heading"><h5>
                {% block panel-heading %}{% endblock %}
              </h5></div>
              <div class="panel-body">
                <div class="responsive-table ">
                  {% block content %}{% endblock %}
                </div>
            </div>
          </div>
        </div>  
        </div>
    </div>
          <!-- end: content -->

  <!-- Main Content -->
  
</div>
  {% block scripts %}
    <script src="{% static 'js/app.js' %}"></script>
  {% endblock %}
  
  {% endblock %}