{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block container %}

<div class="container">

        <form role="form" method="post" action="{% url 'login' %}">
      {% csrf_token %}
          <div class="panel periodic-login">
              <span class="atomic-number">28</span>
              <div class="panel-body text-center">
                  <h1 class="atomic-symbol">Analyzer</h1>
                  <p class="atomic-mass"></p>
                  <p class="element-name"></p>

                  <i class="icons icon-arrow-down"></i>
                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" class="form-text" required name="email">
                    <span class="bar"></span>
                    <label>Email</label>
                  </div>
                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="password" class="form-text" required name="password">
                    <span class="bar"></span>
                    <label>Password</label>
                  </div>
                  <label class="pull-left">
                  <input type="checkbox" class="icheck pull-left" name="checkbox1"/> Remember me
                  </label>
                  <input type="submit" class="btn col-md-12" value="SignIn"/>
              </div>
                <div class="text-center" style="padding:5px;">
                    <a href="forgotpass.html">Forgot Password </a>
                    <a href="reg.html">| Signup</a>
                </div>
          </div>
        </form>

      </div>

      {% endblock %}

      {% block scripts %}
      <script type="text/javascript">
       $(document).ready(function(){
         $('input').iCheck({
          checkboxClass: 'icheckbox_flat-aero',
          radioClass: 'iradio_flat-aero'
        });
       });
     </script>
      <script src="{% static 'js/moment.min.js' %}"></script>
      <script src="{% static 'js/icheck.min.js' %}"></script>
     {% endblock %}
     {% block styles %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/simple-line-icons.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/plugins/animate.min.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/plugins/icheck/skins/flat/aero.css' %}"/>
    {% endblock %}